*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
.container{
    width: 80%;
    display: block;
}
.clear{
    clear: both;
    display: block;
}
header{
    padding: 20px;
}
header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(103, 57, 0);

}
nav{
    background-color: aliceblue;
}
.menu{
    padding: 15px 0;

}
.menu a{
    color:darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 0 20px;

}
.menu a:first-child{
    padding-left: 0;
}
.menu a:hover{
    color:rgb(241, 233, 224);
}
#banner{}
#banner img{
    width: 100%;
    height:600px;
}
.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(168, 210, 232);
    padding: 18px 70px;
    opacity: 0.5;
    text-align: center;
}
.info h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.info p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
#feature{
    padding: 30px;
    text-align: center;
}
#feature h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid;
    display: inline-block;
    color: brown;
}
.boxes{
    padding: 30px;
    display: flex;

}
.box{
    width: 30%;
    position: relative;
}
.box img{
    width: 100%;
    height: 400px;
}
.box h4{
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: black;
    width: 100%;
    padding: 20px 0;
    opacity: 0.8;

}
.box h4 a{
    text-align: left;
    color: rgb(151, 60, 60);
    text-decoration: none;
    font-size:20px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.box h4 a:hover{
    text-decoration:none;
    color: rgb(0, 149, 149);
}