*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
.container{
    width: 80%;
    display: block;
}
.clear{
    clear: both;
    display: block;
}
header{
    padding: 20px;
}
header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(103, 57, 0);
    text-align: center;

}
nav{
    background-color: aliceblue;
}
.menu{
    padding: 15px 0;

}
.menu a{
    color:darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 0 20px;

}
.menu a:first-child{
    padding-left: 0;
}
.menu a:hover{
    color:rgb(0, 195, 255);
}
#banner{}
#banner img{
    width: 100%;
    height:700px;
}
.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(168, 210, 232);
    padding: 18px 70px;
    opacity: 0.5;
    text-align: center;
}
.info h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.info p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
#feature{
    padding: 30px;
    text-align: center;
}
#feature h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid;
    display: inline-block;
    color: rgb(78, 22, 22);
    text-decoration: none;
}
.boxes{
    padding: 30px;
    display: flex;

}
.box{
    width: 30%;
    position: relative;
}
.box img{
    width: 100%;
    height: 400px;
}
.box h4{
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: rgb(3, 0, 52);
    width: 100%;
    padding: 10px 0;
    opacity: 0.8;

}
.box h4 a{
    text-align: left;
    color: rgb(204, 220, 238);
    text-decoration: none;
    font-size:15px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.box h4 a:hover{
    text-decoration:none;
    color: rgb(228, 242, 205);
}
#newsletter{
    padding:  40px,0;
    background-color: rgb(129, 162, 161);
  }
#newsletter form{
    display: block;
    text-align: center;
}
#newsletter input[type=text]{
    padding-right: 10px 5px;
    width: 250px;
    border: none;
    outline: none;

}
#newsletter input[type=submit]{
    padding: 10px;
    background-color: rgb(64, 92, 122);
    border: none;
    cursor: pointer;
    color: aliceblue;
}
#newsletter h5{
    color: rgb(73, 18, 18);
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}
footer{
    padding: 30px 0;
}
.fboxes{
    display: flex;
}
.fbox{
    width: 18%;
}
.fbox h6{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    color: rgb(50, 57, 57) ;
}
.fbox ul{
    list-style: none;
}
.fbox ul li{
    border-bottom: 1px dotted;
    padding-bottom: 5px;
}
.fbox ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#content{
    padding: 30px 0;
}
#content h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    color: rgb(114, 29, 29);
    font-size: 30px;
}
.days{
    background-color: rgb(129, 182, 224);
    color: rgb(247, 249, 251);
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}
.medium{
    background-color: rgb(129, 182, 224);
    color: rgb(248, 249, 249);
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.nature{
    background-color: rgb(129, 182, 224);
    color: rgb(250, 252, 253);
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#content img{
    text-align: left;
    display: block;
    margin: 20px 0;
    width: 100%;

}
.itinerary{
    width: 60%;
}
.itinerary h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 10px 0;
}
.itinerary p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.book{
    background-color: rgb(148, 170, 209);
    color: white;
    padding:10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    display: inline-block;
}
    
.contact_boxes{
    display: flex;

}
.map,.form{
    width: 50%;
}
.form{
    padding: 0 20px;
}
.form h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.form label{
    display: block;
    margin:5px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.form input{
    padding: 10px;
    width: 100%;
}
.form textarea{
    padding: 10px;
    width: 100%;
    height: 100px;
}
.form input[type=submit]{
    padding: 10px 20px;
    width: 100px;
    margin-top: 10px;
}